@media (max-width: 1300px) {}

@media (max-width: 1120px) {}

@media (max-width: 992px) {
  body{
    overflow-x: hidden !important;
  }
  .hero_area {
    min-height: auto;
  }
  .menu-con {
    height: 50px;
    width: 100px; 
 
}
  #navbarSupportedContent {
    padding: 15px 0 25px 0;
  }

  .quote_btn-container {
    flex-direction: column;
    align-items: center;
  }

  .quote_btn-container a {
    margin-right: 0;
    margin-top: 10px;
  }

  .slider_section {
    padding: 45px 0 90px 0;
  }


  .client_section .box {
    margin: 15px;
  }

  .client_section .carousel_btn-box {
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }

  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
    position: unset;
    margin: 0 2.5px;
    width: 45px;
    height: 45px;
  }

  .info_section .info_main_row>div {
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .slider_section .detail-box {
    margin-bottom: 45px;
    text-align: center;
  }

  .slider_section .detail-box .btn-box {
    justify-content: center;
  }

  .about_section .detail-box {
    margin-bottom: 45px;
  }


  .service_section .row .service_col_middle {
    order: 2;
  }

  .service_section .service_col_middle .box {
    margin-bottom: 45px;
  }

  .server_section {
    background: none;
    background-color: #020230;
  }

  .server_section .img-box {
    margin-bottom: 25px;
  }

  .contact_section .form_container {
    margin-right: 0;
    margin-bottom: 45px;
  }

  .info_section .row>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 35px;
  }

  .info_section .info_links {
    align-items: center;
  }
}

@media (max-width: 576px) {
  body{
    overflow-x: hidden !important;
  }
  .slider_section{
    margin-top: 3rem;
  }  
  .content h1{
    font-size: 2rem;
  }
  .menu-icon{
    margin-top: 1rem;
    width: 2rem;
  }

  
  .menu-con {
    height: 50px;
    width: 100px; 
 
}

  .client_section .box {
    flex-direction: column;
    align-items: center;
  }

  .client_section .box .detail-box {
    padding: 85px 45px 45px 45px;

  }

  .client_section .box .img-box {
    margin-right: 0;
    margin-bottom: -65px;
  }
}

@media (max-width: 480px) {
  body{
    overflow-x: hidden !important;
  }
  .content h3{
    margin-left: -8rem;
    font-size: 2.2rem;
  }
  .main-head{
    margin-top: -2rem;
  }
  .heading_container h1{
    margin: 0;
    font-size: 1.6rem;
  }
  .heading_container h2{
    margin: 0;
    font-size: 1.2rem;
  }
  .new_section{
    margin-top: -4rem;
  }
  .new_section .container {
    max-width: 900px;
    margin: 0 auto;
  }
  .new_section .row{
  
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -5px;
}
.new_section ul li {
  list-style: none;
  font-size: small;
  text-align: start;
  padding: 0;
  margin-bottom: 5px;
  background-color: #020230;
  color: white;
}

.about_section{
  margin-top: -3rem;
  
}
.about_section .detail-box{
  font-size: small;
  /* text-align: center; */
  margin-left: 2rem;
}
.centered_containers{
  margin-left: 2rem;
}
.info_section{
  margin-top: 28rem;
}
.info_links{
  display: flex;
  flex-direction: row;
}
.service_section .container{
  margin-left: 1.5rem;
}
}

@media (max-width: 420px) {}

@media (max-width: 376px) {
  .slider_section{
    margin-top: 9rem;
  }   
  
  .slider_section .detail_box h1 {
    font-size: 2.5rem;
  }
  .menu-con {
    height: 50px;
    width: 100px; 
 
}



}



@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media screen and (max-width: 1024px) {
  .number_counter .wrapper {
    width: 85vw;
    margin-left: 1.8rem;
  }
  .number_counter.container {
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .number_counter.wrapper {
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
  }
  .number_counter{
    background-color: #020230;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .number_counter .container {
    width: calc(50% - 40px);
    height: 30vmin;
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .number_counter .wrapper {
  
    gap: 15px;
  }
  .number_counter .container {
    width: 100%;
    height: 25vmin;
    font-size: 5px;
  }
  .number_counter .text {
      font-size: .5rem;
  }
}