@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=EB+Garamond:ital@1&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto:wght@100&family=Vollkorn+SC:wght@400;600;700;900&display=swap');



html {
  height: 100%;
  margin: 0;
  padding: 0;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body {
  font-family: "Roboto", sans-serif;
  color: #0c0c0c;
  background-color: #EEF5FF;
  overflow-x: hidden !important;
}
/* heading title */
.content {
  margin-left: 17rem;
  box-sizing: border-box;
  display: flex;
  color: #fafafa;
}

.content h3 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}

.content h3:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: .5px #a9deed;
}

.content h3:nth-child(2) {
  color: white;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
      clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
      clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
::-webkit-scrollbar {
  width: 15px;
  height: 50%;
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background: #020230; 
  border-radius: 10px;
}

/* heading */
* {
  box-sizing: border-box;
  max-width: 100%;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin: 0;
}
/* @keyframes textAnimation {
  0% { opacity: 0; transform: translateY(-20px); }
  20% { opacity: 1; transform: translateY(0); }
  80% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(20px); }
}

.heading_container h3 {
  display: inline-block;
  animation: textAnimation 2s ease-in-out infinite;
} */
@keyframes colorChange {
  0% { color: #3498db; }
  25% { color: #e74c3c; }
  50% { color: #2ecc71; }
  75% { color: #f39c12; }
  100% { color: #3498db; }
}

.heading_container h3 span{
  display: inline-block;
  animation: colorChange 4s infinite;
}
.heading_container h2 span{
  display: inline-block;
  animation: colorChange 4s infinite;
}

.heading_container.heading_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.container_border_style {
  position: relative;
  padding: 20px;
}

.container_border_style::before,
.container_border_style::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 3px;
  height: 90px;
  background-color: #03a7d3;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container_border_style::before {
  left: 0;
}

.container_border_style::after {
  right: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* new section */
.scale-up.left {
  transform: translateX(-100%) scale(1);
}

.scale-up.right {
  transform: translateX(100%) scale(1);
}
.new_section h3 {
  margin-top: auto;
  font-size: x-large;
  color: #03a7d3;
  padding: 0;
}
.list-container {
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 40px 80px;
  transition: transform 0.3s ease-in-out;
  background-color: #020230;
}

.list-container:hover {
  transform: scale(1.05);
}

.new_section ul {
  list-style: none;
  font-size: medium;
  text-align: start;
  padding: 0;
}
.new_section .container {
  max-width: 860px;
  margin: 0 auto;
}
.new_section ul li {
  margin-bottom: 10px;
  background-color: #020230;
  color: white;

}

.list-container hr {
  border: 1px solid #ddd;
}

.new_section a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 5px 20px;
  border: 1px solid #ff4646;
  border-radius: 10px 100px / 120px 100px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.new_section a:hover {
  background-color: #ff4646;
  color: #fff;
}

/*header section*/
.hero_area {
  position: relative;
  background-color: #020230;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sub_page .hero_area {
  min-height: auto;

}

.header_section {
  height: 60px;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand span {
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
}

.custom_nav-container {
  padding: 10px 0;
  width: 100%;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 3px 15px;
  margin: 10px 15px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #ffffff;
  margin: 0 20px;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before,
.custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before,
.custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
  transform: none;
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.quote_btn-container a {
  color: #ffffff;
  text-transform: uppercase;
}

.quote_btn-container a span {
  margin-left: 5px;
}

/*end header section*/
/* Custom Styles for Centered Containers */
.centered_containers {
  padding: 50px 0;
}

.custom-container {
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 40px 80px;
  background-color: #020230;
  color: white;
}
.custom-container .col{
  font-size: medium;
}

.custom-container hr {
  border: 1px solid #ddd;
}

.custom-container h2 {
  font-size: 2rem;
  margin-bottom: 2px;
  color: #03a7d3;
}

.custom-container h4 {
  color: #ff4646;
  margin-bottom: 5px;
}

.custom-container a:hover {
  background-color: #ff4646;
  color: #fff;
}

.custom-container a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 2px 20px;
  font-size: medium;
  border: 1px solid #ff4646;
  border-radius: 10px 100px / 120px 100px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.custom-container ul {
  list-style: none;
  font-size: x-large;
  text-align: start;
  padding: 0;
}

.custom-container ul li {
  background-color: #020230;
  color: white;

}
/* about section */
.about_section{
  background-color: #020230;
  color: white;
}
.about_section .heading_container h2{
  margin-top: -2rem;
  margin-bottom: 2rem;
  color: #e74c3c;

}
.about_section .detail-box{
  font-size: larger;
}
.about_section .detail-box b,h2{
  color: #e74c3c;
}

/* service section */
.service_section {
  position: relative;
}

.service_section .box {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 25px;
  background-color:#020230;
  color: white;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.service_section .box .img-box {
  width: 75px;
  height: 75px;
  background-color: #03a7d3;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all .2s;
  transition: all .2s;
  padding: 10px;
}

.service_section .box .img-box img {
  width: 100%;
  max-width: 45px;
  max-height: 45px;
}

.service_section .box .detail-box {
  margin-top: 15px;
}

.service_section .box .detail-box h4 {
  font-weight: bold;
  font-size: 22px;
  color: #e74c3c;
}

.service_section .box .detail-box a {
  color: #03a7d3;
}

.service_section .box .detail-box a:hover {
  color: #ff4646;
}

.service_section .box:hover .img-box {
  background-color: #ff4646;
}

.server_section {
  background: linear-gradient(110deg, transparent 25%, #020230 25%);
  padding: 55px 0;
  color: #ffffff;
}

.server_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.server_section .img-box {
  position: relative;
}

.server_section .img-box img {
  width: 100%;
}

.server_section .img-box .play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: none;
}

.server_section .img-box .play_btn button {
  background-color: transparent;
  border: none;
  background-color: #03a7d3;
  color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: relative;
  z-index: 3;
  outline: none;
}

.server_section .img-box .play_btn:before,
.server_section .img-box .play_btn:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #03a7d3;
  opacity: 1;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.server_section .img-box .play_btn:before {
  z-index: 2;
  -webkit-animation: before-animation 1500ms infinite;
  animation: before-animation 1500ms infinite;
}

.server_section .img-box .play_btn:after {
  z-index: 1;
  -webkit-animation: after-animation 1500ms infinite;
  animation: after-animation 1500ms infinite;
}

@-webkit-keyframes before-animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes before-animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@-webkit-keyframes after-animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
    opacity: 0;
  }
}

@keyframes after-animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
    opacity: 0;
  }
}

.server_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #ff4646;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ff4646;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-top: 25px;
}

.server_section .detail-box a:hover {
  background-color: transparent;
  color: #ff4646;
}

.price_section .price_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;

}

.price_section .price_container .box {

  margin: 45px 15px 0 15px;
}

.price_section .price_container .box .detail-box {
  width: 300px;
  padding: 40px 20px 15px 20px;
  background-color: #fff;
  border-radius: 25px;

  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.price_section .price_container .box .detail-box h2 {
  font-weight: bold;
}

.price_section .price_container .box .detail-box h2 span {
  font-size: 3rem;
}

.price_section .price_container .box .detail-box h6 {
  text-transform: uppercase;
  color: #03a7d3;
  font-size: 20px;
  margin-bottom: 10px;
}

.price_section .price_container .box .price_features {
  padding: 0;
  list-style-type: none;
  font-size: medium;
}

.price_section .price_container .box .price_features li {
  margin: 10px 0;
}

.price_section .price_container .box .btn-box {
  margin-top: 25px;
}

.price_section .price_container .box .btn-box a {
  display: inline-block;
  text-decoration: none;
  background-color: #ff4646;
  color: #ffffff;
  display: inline-block;
  padding: 10px 35px;
  border: 1px solid #ff4646;
  border-radius: 10px 100px / 120px 100px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.price_section .price_container .box .btn-box a:hover {

  background-color: transparent;
  color: #ff4646;
}

.price_section .price_container .box .btn-box a:hover {
  background-color: #03a7d3;
  color: #ffffff;
}

.price_section .price_container .box:hover {
  color: #ffffff;

}

.price_section .price_container .box:hover .detail-box {
  background-color: #03a7d3;
}

.price_section .price_container .box:hover h6 {
  color: #ffffff;
}

.price_section .price_container .box:hover a {
  background-color: #03a7d3;
  color: #ffffff;

}

.client_section {
  padding-bottom: 45px;
}

.client_section .heading_container {
  margin-bottom: 35px;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 45px 0;
}

.client_section .box .img-box {
  width: 125px;
  height: 125px;
  min-width: 125px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: -65px;
  position: relative;
}

.client_section .box .img-box img {
  width: 100%;
}

.client_section .box .client_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.client_section .box .client_info .client_name h5 {
  font-weight: bold;
  color: #03a7d3;
  margin-bottom: 0;
  text-transform: uppercase;
}

.client_section .box .client_info .client_name h6 {
  margin-bottom: 0;
  color: #ff4646;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}

.client_section .box .client_info i {
  font-size: 24px;
  color: #03a7d3;
}

.client_section .box p {
  margin-top: 25px;
}

.client_section .box .detail-box {
  background-color: #ffffff;
  padding: 45px 45px 45px 85px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  width: 50px;
  height: 50px;
  background-color: #03a7d3;
  opacity: 1;
  font-size: 28px;
  font-weight: bold;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.client_section .carousel-control-prev {
  left: 0;
}

.client_section .carousel-control-next {
  right: 0;
}

.contact_section {
  position: relative;
  height: 90vh;
 
}

.contact_section .heading_container {
  margin-bottom: 45px;
}

.contact_section .container input {
 
  width: 100%;
  border: 1px solid #b0b0b0;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  background-color: transparent;
  outline: none;
  color: #101010;
}


.contact_section .container .btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}



input[type=text], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: transparent;
  
}
.btn-btn{
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 65px;
  background-color: #ff4646;
  color: #ffffff;
  border-radius: 40px 80px;
  border: 1px solid #ff4646;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-weight: bold;margin-bottom: 2rem;
}
.btn-btn:hover{
  background-color: transparent;
  color: #ff4646;
}


/* slide */
/* main head */
.main-head {

  display: grid;
  padding: 20px 20px;

}

.main-head h1,
h3 {
  color: #ff4646;
  padding: 20px 20px;
}

.main-head h2 {
  text-align: center;
  color: white;
  padding: 20px 20px;

}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}



.heading_container {
  text-align: center;
}

.heading_container h1,
h2,
h3 {
  margin: 0;
}

/* info section */
.info_section {
  background-color: #020230;
  color: #ffffff;
}

.info_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.info_section .info_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.info_section .info_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.info_section .info_contact .contact_link_box a i {
  margin-right: 5px;
}

.info_section .info_contact .contact_link_box a:hover {
  color: #ff4646;
}

.info_section .info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.info_section .info_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 24px;
}

.info_section .info_social a:hover {
  color: #ff4646;
}

.info_section .info_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.info_section .info_links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
  color: #ffffff;
}

.info_section .info_links a img {
  margin-right: 10px;
}

.info_section .info_links a:hover,
.info_section .info_links a.active {
  color: #ff4646;
}

.info_section form input {
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  width: 100%;
  height: 45px;
  color: #ffffff;
  outline: none;
}

.info_section form input::-webkit-input-placeholder {
  color: #ffffff;
}

.info_section form input:-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::placeholder {
  color: #ffffff;
}

.info_section form button {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 10px 55px;
  background-color: #ff4646;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #ff4646;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-top: 15px;
}

.info_section form button:hover {
  background-color: transparent;
  color: #ff4646;
}


/* end info section */
/* footer section*/
.footer_section {
  position: relative;
  background-color: #020230;
  text-align: center;
}

.footer_section p {
  color: #ffffff;
  padding: 20px 0;
  margin: 0;
  border-top: 1px solid #ffffff;
}

.footer_section p a {
  color: inherit;
}

/*# sourceMappingURL=style.css.map */


.menu-icon {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px 15px;
  transform: scale(0.8);
  padding: 0;
  cursor: pointer;
  z-index: 20
}

.menu-bar {
  width: 50px;
  height: 5px;
  background: rgb(190, 190, 190);
  position: absolute;
  transition: all 0.3s;
}

.menu-bar1 {
  margin-top: 9px
}

.menu-bar2 {
  margin-top: 23px
}

.menu-bar3 {
  margin-top: 37px
}

.menu-icon.hover .menu-bar1 {
  -webkit-transform: rotate(45deg) scaleX(0.7);
  margin-top: 22px;
}

.menu-icon.hover .menu-bar2 {
  opacity: 0
}

.menu-icon.hover .menu-bar3 {
  -webkit-transform: rotate(-45deg) scaleX(0.7);
  margin-top: 22px;
}

.menu {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu-con {
  -webkit-flex-grow: 1;
  flex-basis: 0;
  flex-grow: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  position: relative;
  top: -100%;
  transition: all 0.5s
}

.menu-con p:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-con:hover p:before {
  background: rgba(0, 0, 0, 0.2)
}

.menu-con p {
  height: 20px;
  -webkit-align-self: center;
  color: white;
  font-size: 25px;
  z-index: 2;
  cursor: pointer
}

/* Add a CSS class for fading in elements */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* When the element is visible, fade it in */
.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/* Define a CSS class for scaling up elements */
.scale-up {
  transform: scale(0.5);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
}

.scale-up.show {
  transform: scale(1);
  opacity: 1;
}



@media screen and (max-width: 600px) {
  .menu-con {
    min-width: 50%
  }
}

@media screen and (max-width: 350px) {
  .menu-con {
    min-width: 100%
  }
}
/* number  */
@media screen and (max-width: 1024px) {
  .number_counter .wrapper {
    width: 85vw;
    margin-left: 1.8rem;
  }
  .number_counter.container {
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .number_counter.wrapper {
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
  }
  .number_counter{
    background-color: #020230;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .number_counter .container {
    width: calc(50% - 40px);
    height: 30vmin;
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .number_counter .wrapper {
  
    gap: 15px;
  }
  .number_counter .container {
    width: 100%;
    height: 25vmin;
    font-size: 5px;
  }
  .number_counter .text {
    color: #e0e0e0;
    font-size: .1cm;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 100;
    line-height: 0;
  }
}
.number_counter .wrapper {
  background-color: #020230;
  top: 50%;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.number_counter .container {
  width: 28vmin;
  height: 35vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  font-size: 16px;
  border-radius: 0.5em;
margin-bottom: 2rem;
  border-bottom: 10px solid white;
}
.number_counter i {
  color:white;
  font-size: 2.5em;
  text-align: center;
}
.number_counter .num {
  color: #ffffff;
  display: grid;
  place-items: center;
  font-weight: 400;
  font-size: 2em;
}
.number_counter .text {
  color: #e0e0e0;
  font-size: 1em;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 0;
}